<div class="row">
  <div class="col-md-4">
    {{input value=value key-up=(action 'handleFilterEntry') class="form-control" placeholder="Enter company name" autofocus="true"}}
    {{#if companies}}
      <h5>Company Name Ascending</h5>
    {{/if}}
    <table class="table table-striped">
      <tbody>
        {{#each companies as |company|}}
          <tr>
            <td>{{company.symbol}}</td>
            <td>{{company.name}}</td>
            <td><button {{action 'handleChartButton' company}} class="btn btn-info">Chart</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-8">
    {{#if quoteData}}
      {{ember-chart type="line" data=quoteData height=200}}
    {{/if}}
  </div>
</div>
